.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;

        .headerInfo {
            display: flex;
            align-items: center;
            cursor: pointer;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin: 0 15px;
            }

            .name {
                font-size: 17px;
                color: #000;
            }
        }

        .headerButtons {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }
    }

    .body {
        flex: 1;
        overflow-y: auto;
        background: #e5ddd5;
        background-size: cover;
        background-position: center;
        background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    }

    .footer {
        height: 62px;
        display: flex;
        align-items: center;

        .pre {
            display: flex;
            margin: 0 15px;
        }

        .inputArea {
            flex: 1;

            .input {
                width: 100%;
                height: 40px;
                background: #FFF;
                border: 0;
                outline: 0;
                border-radius: 20px;
                font-size: 15px;
                color: #4a4a4a;
                padding-left: 15px;
            }
        }

        .pos {
            display: flex;
            margin: 0 15px;
        }
    }
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100%;
}
